@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Montserrat:ital@0;1&family=Poppins:ital@0;1&family=Roboto&family=Satisfy&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 26px;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  margin: 15px;
  padding: 80px;
}

.tile {
  width: 100px;
  height: 100px;
  border: 0.5px solid grey;
  margin: 1px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: cadetblue, blueviolet, skyblue, olivedrab, orangered;
}
